<h3><%= @spot.company_name %></h3>

<ul>
  <li>Production ID: <%=@spot.prod_ID%></li>
  <li>Staging ID: <%=@spot.staging_ID%></li>
  <li><%= link_to @spot.url%></li>
</ul>
<!--   <li><%= link_to "Get rid of it!", spot_path(@spot.id), :method => 'delete' %> -->
<h4><%= link_to "Back to Home", spots_path%></h4>
